.well {
    background-color: white;
}

.pad-top-30 {
    padding-top: 30px;
}

.navbar {
    margin-top: 0;
    padding-top: 0;
}

 li.login a {
    background-color:#ff0000;
    color: white !important;
}

li.login a:hover {
    background-color:#cccccc !important;
}

li.register a {
    background-color:#0099e6;
    color: white !important;
}

li.register a:hover {
    background-color:#cccccc !important;
}

.jumbotron {
    background: url(../images/waterdrop.jpg) no-repeat 50% 0;
    padding:0px;
    height:350px;
    color: white;
    margin-top:45px;
}

.jumbotron [class*='col-'] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    border: 1px soid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    overflow: auto;
    height: 350px;
}

.jumbotron h1 {
    font-size: 45px;
}

.bluebox {
    background-color: #008ae6;
    }

.bluebox a {
    background-color: #0099e6;
    border:  #0099e6;
    margin-bottom: 20px;
    }

.bluebox a:hover {
    background-color: #0088cc;  
} 


.redbox {
    background-color:  #ff0000;    
}

.redbox a {
    margin-bottom: 20px;
    background-color: #e60000;
    border: #e60000;  
}

.redbox a:hover {
    background-color: #cc0000;
    
}

.panel{
    margin-top: 30px;
    /*margin-left: 20px;
    margin-right: 5px;*/  
}

.panel-body {
    color: white;   
}

.panel a:hover{
    text-decoration: none;
}

/*.panel-blue {
    width: 100%;        
}*/

.panel > .panel-blue-heading {
    background-color: #008ae6; 
    color: white;
}

.list-group {
    margin-top:30px;
    /*margin-left: -5px;
    margin-right: 18px;*/
}

.gray-list {
    margin-top:15px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color:  #ff0000;
    border: #ff0000;
}

.gray-list a.list-group-item.active, .gray-list a.list-group-item.active:hover, .gray-list a.list-group-item.active:focus {
    background-color: #f2f2f2;
    border: #8c8c8c;
    color: #666666;
}

.gray-list a.list-group-item.active .list-group-item-text, .gray-list a.list-group-item.active:hover .list-group-item-text, .gray-list a.list-group-item.active:focus .list-group-item-text{
    color: #666666;
}

a.list-group-item.active .list-group-item-text, a.list-group-item.active:hover .list-group-item-text, a.list-group-item.active:focus .list-group-item-text{
color: #666666;
}

iframe {
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
}

.blog h5 {
    background-color:#e6e6e6;
    width:100%;
    height: 30px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    
}

.blog img{
    width:100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.blog a.read-more {
    background-color:#0088cc;
    color:white;
    width:100%;
    height: auto;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    display:block;
}

.blog a.read-more:hover {
    background-color: #00aaff;
}

.grey-well {
    background: #e6e6e6 !important;
    padding: 5px;
    margin-top:30px;
}

footer {
    height: 40px;
    text-align: center;
    background-color: #cccccc;
    color:white;
    margin-top: 40px;
    padding:10px 0 10px 0;
}

#tooltip1,#tooltip2 {
    color: white;
    border: dotted 1px white;
    padding-bottom: 2px;
    
}

#tooltip1:hover, #tooltip2:hover {
    text-decoration: : none;
}

.tab-pane {
    padding-top: 10px;
}

/*.accordion {
    margin-left: -20px;
    width: 385px;
}
.list-group {
    margin-left: 0;
    width: 360px;
}*/
